<!-- verify_otp.html -->
{% extends "base.html" %}
{% block title %}OTP Verification{% endblock %}
{% block content %}
<form method="POST">
  <h3 align="center">Verify OTP</h3>
  {% if error_message %}
    <p class="text-danger">{{ error_message }}</p>
  {% endif %}
  <div class="form-group">
    <label for="otp">Enter OTP</label>
    <input
      type="text"
      class="form-control"
      id="otp"
      name="otp"
      placeholder="Enter OTP"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Verify OTP</button>
</form>
{% endblock %}
